.blog {
flex-wrap: wrap; /* Allow items to wrap to the next line if there is not enough space */
padding-bottom: 2em;
color: #305252;
font-size: 28px;
}

.page-title {
flex-basis: 100%; /* Set the width of the title to 100% of the available space */
}

.topics-to-explore {
flex-basis: 100%; /* Set the width of the title to 100% of the available space */
}

.box-of-topics{
border-radius: 20px;
background-color: #BFC8AD;
max-width: 1000px;

margin-left: auto;
margin-right: auto; 
overflow: auto;
}

.grid {
margin-left: auto; 
margin-right: auto; 
display:grid;
grid-template-columns: 500px 500px;
padding-bottom: 20px;

margin-left: 50px;
}

.explore-button{
display: inline-block;
outline: 0;
border: 0;
cursor: pointer;
background-color: #4299e1;
border-radius: 4px;
padding: 8px 16px;
font-size: 16px;
border-bottom: 4px solid #2b6cb0;
font-weight: 700;
color: white;
line-height: 26px;
}



.popular-stories-title{
text-align: left;
color: black;
padding: 0px 0px 0px 100px;
}

.stories{
max-width: 1100px;
margin-left: auto;
margin-right: auto; 
overflow: auto;   
}

.story{
width: 20%;
float: left;
padding: 10px;
}
.storyImage{
max-width: 100%;
max-height: 100%;
width: 150px;
height: 150px;
float: left;
}

.storyTitle{
font-size: 20px;
color: black;
text-align: left;
}

.hook{
text-align: left;
color: black;
flex-wrap: wrap; /* Allow items to wrap to the next line if there is not enough space */
font-size: 12px;
}

