.about-financial{
    border-radius: 20px;
    background-color: #BFC8AD;
    max-width: 900px;
   
    /* align-items: center; */
    margin-left: auto; margin-right: auto; 
}

.financial-text {
    font-size: 20px;
    text-align: left;
    max-width: 500px;
}